@import "./variables/variables";
@import "./mixins/mixins";
@import "./utils/functions";
@import "./utils/default";

@import "./components/navbar";
@import "./components/home";
@import "./components/contact";
@import "./components/cv";
