$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b484;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-grey-light-1: #f7f7f7;

$color-white: #ddd;
$color-black: #222;

//Font Sizes
$default-font-size: 1.6rem;
$font-size-1: 1rem;
$font-size-2: 2rem;
$font-size-3: 3rem;
$font-size-4: 4rem;
$font-size-5: 5rem;
