*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	//This defines what 1rem is... 62.5% means, 62.5% of 16px = 10px. ie 1 rem == 10px
	font-size: 62.5%;
	font-family: Arial, Helvetica, sans-serif;
}
body {
	position: relative;
	height: 100vh;
	width: 100vw;
	// padding: 3rem;
	@include gradient;
}
