header {
	display: flex;
	justify-content: center;
	position: relative;
	color: $color-white;
	.mainheader {
		position: absolute;
		&__title {
			padding-top: 3rem;
			font-size: $font-size-4;
			font-weight: 600;
		}
	}
	.subheader {
		position: absolute;
		top: 10rem;
		&__title {
			color: inherit;
			font-size: $font-size-2;
		}
	}
}

section {
	position: absolute;
	height: 40rem;
	width: 100%;
	// background-color: pink;
	top: 25rem;
	padding-left: 6rem;
	padding-top: 2rem;
	display: grid;
	// grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-template-rows: 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	justify-items: stretch;
	align-items: start;
	& a {
		@include reset-links;
	}
	& .card {
		color: $color-black;
		border-radius: 2rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2rem;
		@include gradient3;
		width: 30rem;
		cursor: pointer;
		@include ease;

		&:hover {
			@include hover1;
		}
		&__icon--img {
			height: 10rem;
			width: 10rem;
		}
		&__title {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 2rem 0rem;
			&--main {
				font-weight: 600;
				font-size: $font-size-3;
			}
			&--sub {
				font-weight: 200;

				font-size: $font-size-2;
			}
		}
	}
}
